/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

@font-face {
  font-family: 'HuaKangOuYangXunTiW5-0-1';
  src: url(../fonts/HuaKangOuYangXunTiW5-0-1.ttf);
}