input[type=radio], input[type=checkbox]{
    display: none;
}
label:before{
    content:'';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #f5f5f5;
    border:1px solid #999;
    margin-right: 3px;
    margin-bottom: -2px;
}
input[type=radio]+label:before{
    border-radius: 50%;
}
input[type=checkbox]+label:before{
    border-radius: 3px;
}
input[type=radio]:checked+label:before{
    content: '\2022';
    color: #f5f5f5;
    font-size: 20px;
    text-align: center;
    line-height: 15px;
    background-color: #67a4ee;
    border-color: #67a4ee;
}
input[type=checkbox]:checked+label:before{
    content:'\2713';
    font-size: 15px;
    color: #f5f5f5;
    background-color: #67a4ee;
    text-align: center;
    line-height: 15px;
    border-color: #67a4ee;
}       