<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>商城</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link href="{% static 'shop/css/jumbotron.css' %}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'shop/css/bootstrap-grid.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'shop/css/carousel.css' %}" rel="stylesheet">
</head>

<body>
<div style="background-image: url('/bk_test.jpg'); background-size: cover">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top"
             style="background-image: url('/bk_test.jpg');background-size: cover;">
            <a class="navbar-brand" href="#" style="color: #533f03">三彩知因</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/" style="color: #533f03">主页 <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" style="color: #533f03">辅助鉴赏</a>
                    </li>
                    <li class="nav-item" style="color: #533f03">
                        <a class="nav-link" href="../login/signin/" style="color: #533f03">鉴宝馆</a>
                    </li>
                    <li class="nav-item" style="color: #533f03">
                        <a class="nav-link" href="../workshop/" style="color: #533f03">三彩坊</a>
                    </li>
                    <li class="nav-item" style="color: #533f03">
                        <a class="nav-link" href="../auction/" style="color: #533f03">拍卖</a>
                    </li>
                    <li class="nav-item" style="color: #533f03">
                        <a class="nav-link" href="../shop/" style="color: #533f03">商城</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main">
        <br/>
        <br/>
        <br/>

        <div class="container marketing">

            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="/shop/shop1.jpg" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>三彩兽面镇墓兽</h2>
                    <p>￥39000.00</p>
                    <p><a class="btn btn-secondary" href="/expert/comment/" role="button">立即购买&raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="/shop/shop2.jpg" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>三彩骑马男俑</h2>
                    <p>￥8000.00</p>
                    <p><a class="btn btn-secondary" href="/expert/comment/" role="button">立即购买&raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="/shop/shop3.jpg" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>三彩高胡帽男牵马俑</h2>
                    <p>￥88000.00</p>
                    <p><a class="btn btn-secondary" href="/expert/comment/" role="button">立即购买&raquo;</a></p>
                </div><!-- /.col-lg-4 -->

                <br/>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="/shop/shop4.jpg" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>三彩蓝釉白斑马</h2>
                    <p>￥47000.00</p>
                    <p><a class="btn btn-secondary" href="/expert/comment/" role="button">立即购买&raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="/shop/shop5.jpg" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>三彩骑马女俑</h2>
                    <p>￥28000.00</p>
                    <p><a class="btn btn-secondary" href="/expert/comment/" role="button">立即购买&raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="/shop/shop6.jpg" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>三彩女坐俑</h2>
                    <p>￥59900.00</p>
                    <p><a class="btn btn-secondary" href="/expert/comment/" role="button">立即购买&raquo;</a></p>
                </div><!-- /.col-lg-4 -->

                <br/>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="/shop/shop1.jpg" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>三彩兽面镇墓兽</h2>
                    <p>￥39000.00</p>
                    <p><a class="btn btn-secondary" href="/expert/comment/" role="button">立即购买&raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                   <img class="rounded-circle" src="/shop/shop2.jpg" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>三彩骑马男俑</h2>
                    <p>￥8000.00</p>
                    <p><a class="btn btn-secondary" href="/expert/comment/" role="button">立即购买&raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="/shop/shop3.jpg" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>三彩高胡帽男牵马俑</h2>
                    <p>￥88000.00</p>
                    <p><a class="btn btn-secondary" href="/expert/comment/" role="button">立即购买&raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->

    </main>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="{% static 'shop/js/vendor/popper.min.js' %></script>
    <script src="{% static 'shop/js/bootstrap.bundle.min.js' %}></script>
<script src="{% static 'shop/js/vendor/holder.min.js' %}></script>

  </body>
</html>
