<!doctype html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>鉴别</title>


    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
    <link href="{% static 'classification/css/jumbotron.css' %}" rel="stylesheet">
    <link href="{% static 'classification/css/component.css' %}" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-md navbar-dark fixed-top"
     style="background-image: url('/bk_test.jpg');background-size: cover;">
    <a class="navbar-brand" href="#" style="color: #533f03">三彩知因</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
				<nav class="menu menu--prospero" style="height: 20px">
					<ul class="menu__list">
                    {% if request.session.is_login %}
						<li class="menu__item"><a href="/" class="menu__link">主页</a></li>
						<li class="menu__item menu__item--current"><a href="/classification/" class="menu__link">辅助鉴定</a></li>
						<li class="menu__item"><a href="/workshop/" class="menu__link">三彩坊</a></li>
						<li class="menu__item"><a href="/shop/" class="menu__link">商城</a></li>
						<li class="menu__item"><a href="/auction/" class="menu__link">拍卖</a></li>
                        <li class="menu__item"><a href="/expert/" class="menu__link">专家问答</a></li>
                        <li class="menu__item"><a href="#" class="menu__link" style="color:black;">当前在线：{{ request.session.user_name }}</a></li>
                        <li class="menu__item"><a href="/login/logout/" class="menu__link" style="color:blue">登出</a></li>
                    {% else %}
						<li class="menu__item menu__item--current"><a href="/" class="menu__link">主页</a></li>
						<li class="menu__item"><a href="/classification/" class="menu__link">辅助鉴定</a></li>
						<li class="menu__item"><a href="/workshop/" class="menu__link">三彩坊</a></li>
						<li class="menu__item"><a href="/shop/" class="menu__link">商城</a></li>
						<li class="menu__item"><a href="/auction/" class="menu__link">拍卖</a></li>
                        <li class="menu__item"><a href="/expert/" class="menu__link">专家问答</a></li>
                    {% endif %}
					</ul>
				</nav>
</nav>

<main role="main">
    <div class="jumbotron" style="background-image: url('/bk_test.jpg'); background-size: cover">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1 style="font-family: HuaKangOuYangXunTiW5-0-1">辅助鉴别，就现在！</h1>
                    <p style="font-family: 宋体">觉得一份靓丽的鉴赏报告会为自己的古玩增色不少？
                        <br>令人兴奋的是，您也可以拥有您自己的！
                        <br>动手拍一张你心爱唐三彩的照片，或者从搜索引擎中寻觅。
                        <br>找好之后，请点击"现在上传"，获取属于您的三彩报告！
                    </p>
                    <form  action="upload_file/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="imageFile" id="img"/>
                        <br>
                        <input type="text" placeholder="1#2#100#100" name="coordinate" id="coordinate"/>
                        <input type="submit" id="fileSubmit" name="Submit" value="上传" />
                    </form>
                </div>

                <div class="col-sm">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="/example0.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/abcd.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/example2.png" alt="Third slide">
                            </div>
                        </div>
                        <br><br><br>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-md-4" style="width:400px;margin-left: -150px;margin-right: 50px;border-style: solid; border-width: 2px 10px 10px 1px;border-color:#5f3f3f ">
                    <h2>大而广的文玩类别！</h2>
                    <br>
                    <div class="row">
                        <div class="col-sm">
                            <img src="tips/马.png" style="width: 50%">
                        </div>
                        <div class="col-sm">
                            <img src="tips/骆驼.png" style="width: 50%">
                        </div>
                        <div class="col-sm">
                            <img src="tips/人.png" style="width: 50%">
                        </div>
                    </div>
                    <br>
                    <p>目前支持的文玩分类如下</p>
                    <ul>
                        <li>唐三彩马俑</li>
                        <li>唐三彩人俑</li>
                        <li>唐三彩骆驼俑</li>
                        <li>唐三彩器皿</li>
                        <li>更多类别即将上线...</li>
                    </ul>
                    <br>
                    <p>您可以：</p>
                    <br>
                    <ul>
                        <li>选择上述类别的文玩进行下一步操作</li>
                        <li>告诉我们其他您想要鉴定的类别</li>
                        <a href="#" class="badge badge-primary">联系我们</a>
                    </ul>


                </div>
                <div class="col-md-4" style="width:500px;margin-left: 100px;margin-right: 50px;border-style: solid; border-width: 2px 10px 10px 1px;border-color:#5f3f3f">
                    <h2>摆好姿势，准备上传！</h2>
                    <br>
                    <p>参考以下规则和示例图片进行拍摄：</p>
                    <ul>
                        <br>
                        <li>不使用滤镜</li>
                        <li>保证拍摄场地光线事宜且充足</li>
                        <li>使用纯色且与古玩对比度大的背景</li>
                        <li>角度选取更能体现细节的一面</li>
                        <br>
                    </ul>
                    <img src="tips/拍照示例.jpg" class="img-thumbnail">
                </div>
                <div class="col-md-4" style="width:500px;margin-left: 100px;margin-right: -200px;border-style: solid; border-width: 2px 10px 10px 1px;border-color:#5f3f3f">
                    <h2>获取您的鉴定报告！</h2>
                    <div class="row">
                        <div class="col-sm">
                            <img src="tips/报告.png" style="width: 50%">
                        </div>
                        <div class="col-sm">
                            <img src="tips/拍卖.png" style="width: 50%">
                        </div>
                        <div class="col-sm">
                            <img src="tips/商城.png" style="width: 50%">
                        </div>
                    </div>
                    <br>
                    <p>报告内容包括：</p>
                    <ul>

                        <br>
                        <li>综述</li>
                        <li>颜色分析</li>
                        <li>墓穴分析</li>
                        <li>朝代分析</li>
                        <li>特征分析</li>
                    </ul>
                    <br>
                    <p>您还可以：</p>
                    <ul>
                        <br>
                        <li>咨询专家</li>
                        <li>申请拍卖</li>
                        <li>商城售卖</li>
                        <br>
                    </ul>
                </div>
            </div>

            <hr>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'classification/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'classification/js/bootstrap.min.js' %}"></script>
    </body>
</html>
