<!DOCTYPE html>
<div lang="en">
    <head>
        <meta charset="UTF-8">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'classification/css/bootstrap2.css' %}">
        <link href="{% static 'classification/css/component.css' %}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            function displayColor(eleid, style) {
                var c = document.getElementById(eleid);
                var ctx = c.getContext("2d");
                ctx.fillStyle = style;
                ctx.fillRect(0, 0, 100, 100);
            }
        </script>

        <title>鉴定报告</title>
    </head>
    <body style="background-image: url('/bk_test.jpg');background-size: cover;">
    <nav class="menu menu--prospero" style="height: 20px">
        <ul class="menu__list">
            {% if request.session.is_login %}
                <li class="menu__item"><a href="/" class="menu__link">主页</a></li>
                <li class="menu__item menu__item--current"><a href="/classification/" class="menu__link">辅助鉴定</a></li>
                <li class="menu__item"><a href="/workshop/" class="menu__link">鉴宝馆</a></li>
                <li class="menu__item"><a href="/shop/" class="menu__link">商城</a></li>
                <li class="menu__item"><a href="/auction/" class="menu__link">拍卖</a></li>
                <li class="menu__item"><a href="/expert/" class="menu__link">专家问答</a></li>
                <li class="menu__item"><a href="#" class="menu__link" style="color:black;">当前在线：{{ request.session.user_name }}</a></li>
                <li class="menu__item"><a href="/login/logout/" class="menu__link" style="color:blue">登出</a></li>
            {% else %}
                <li class="menu__item"><a href="/" class="menu__link">主页</a></li>
                <li class="menu__item menu__item--current"><a href="/classification/" class="menu__link">辅助鉴定</a></li>
                <li class="menu__item"><a href="/workshop/" class="menu__link">鉴宝馆</a></li>
                <li class="menu__item"><a href="/shop/" class="menu__link">商城</a></li>
                <li class="menu__item"><a href="/auction/" class="menu__link">拍卖</a></li>
                <li class="menu__item"><a href="/expert/" class="menu__link">专家问答</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="mx-auto" style="width: 75%;">
        <h1 style=" text-align: center;
            margin: auto;
            padding:20px;
            font-weight: bold;
            font-size: 80px;
            display: block;
            width: 800px;
            height: 100px;
            color: #8a6d3b;
            text-shadow: 1px 1px black,2px 2px black,
                 3px 3px black,4px 4px black,
                 5px 5px black,6px 6px black,
                 7px 7px black,8px 8px black;">鉴定报告</h1>
    </div>
    <div class="mx-auto" style="width: 75%;margin-top: 100px " >

        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-overview-tab" data-toggle="pill" href="#v-pills-overview" role="tab" aria-controls="v-pills-overview" aria-selected="true" style="
                  -webkit-border-radius: 0;
                          border-radius: 0;
                  margin-bottom: 5px;
                  font-weight: bold;
                  color: #333;
                  border: 3px solid white;
                  border-top-left-radius: 0.5rem;
                  border-top-right-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                  border-bottom-right-radius: 0.5rem;">报告综述</a>
                    <a class="nav-link" id="v-pills-color-tab" data-toggle="pill" href="#v-pills-color" role="tab" aria-controls="v-pills-color" aria-selected="false"  style="
                  -webkit-border-radius: 0;
                          border-radius: 0;
                  margin-bottom: 5px;
                  font-weight: bold;
                  color: #333;
                  border: 3px solid white;
                  border-top-left-radius: 0.5rem;
                  border-top-right-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                  border-bottom-right-radius: 0.5rem;">颜色分析</a>
                    <a class="nav-link" id="v-pills-tomb-tab" data-toggle="pill" href="#v-pills-tomb" role="tab" aria-controls="v-pills-tomb" aria-selected="false"  style="
                  -webkit-border-radius: 0;
                          border-radius: 0;
                  margin-bottom: 5px;
                  font-weight: bold;
                  color: #333;
                  border: 3px solid white;
                  border-top-left-radius: 0.5rem;
                  border-top-right-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                  border-bottom-right-radius: 0.5rem;">墓穴分析</a>
                    <a class="nav-link" id="v-pills-dynasty-tab" data-toggle="pill" href="#v-pills-dynasty" role="tab" aria-controls="v-pills-dynasty" aria-selected="false"  style="
                  -webkit-border-radius: 0;
                          border-radius: 0;
                  margin-bottom: 5px;
                  font-weight: bold;
                  color: #333;
                  border: 3px solid white;
                  border-top-left-radius: 0.5rem;
                  border-top-right-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                  border-bottom-right-radius: 0.5rem;">朝代分析</a>
                    <a class="nav-link" id="v-pills-feature-tab" data-toggle="pill" href="#v-pills-feature" role="tab" aria-controls="v-pills-feature" aria-selected="false"  style="
                  -webkit-border-radius: 0;
                          border-radius: 0;
                  margin-bottom: 5px;
                  font-weight: bold;
                  color: #333;
                  border: 3px solid white;
                  border-top-left-radius: 0.5rem;
                  border-top-right-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                  border-bottom-right-radius: 0.5rem;">特征分析</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-overview" role="tabpanel" aria-labelledby="v-pills-overview-tab"
                         style="background-color: white;
                        border: 1px solid transparent;
                        border-top-left-radius: 1.25rem;
                        border-top-right-radius: 1.25rem;
                        border-bottom-left-radius: 1.25rem;
                        border-bottom-right-radius: 1.25rem;">
                        <div style="margin-left: 20px;margin-top: 20px;margin-bottom: 20px;margin-right: 20px">
                            <h1 style="font-family: 楷体; font-size: 100px; color: #5f3f3f; text-align: center">{{ antique_name }}</h1>
                            <div class="container"  style="margin-top: 20px; text-align: center">
                                <img style="height: 50%;width: 50%" src="/upload/{{ report.class_id }}.png" class="rounded img-thumbnail" >
                            </div>

                            <div class="jumbotron">
                                <h5>{{ feature_content.0 }}</h5>
                                <hr class="my-4">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">类别名称</th>
                                        <th scope="col">可能性</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key, value in class_dic.items%}
                                        <tr>
                                            <th scope="row">{{ key}} </th>
                                            <td>{{ value }}   </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <a class="btn btn-primary btn-lg" href="#" role="button">点击左侧栏目查看详细信息</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-color" role="tabpanel" aria-labelledby="v-pills-color-tab"
                         style="background-color: white;
                        border: 1px solid transparent;
                        border-top-left-radius: 1.25rem;
                        border-top-right-radius: 1.25rem;
                        border-bottom-left-radius: 1.25rem;
                        border-bottom-right-radius: 1.25rem;">
                        <div style="margin-left: 20px;margin-top: 20px;margin-bottom: 20px;margin-right: 20px">
                            <h1 style="font-family: 楷体; font-size: 100px; color: #5f3f3f; text-align: center">色彩分析</h1>

                            <h1 style="text-align: center">以下是您的文玩主色</h1>
                            <div class="container">
                                <div class="row">
                                    {% for i in color_list %}
                                        <div  class="col-sm">
                                            <div class="card" style="width: 10rem;">
                                                <canvas id="{{i}}" width="100" height="100" >
                                                    <script> displayColor("{{i}}","{{i}}")</script>
                                                </canvas>
                                                <div class="card-body">
                                                    <p class="card-text">{{i}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <h1 style="margin-top: 20px; text-align: center">以下与您最匹配的其他文玩</h1>

                        <div class="container">
                            <div class="row">
                                {% for showcase in color_showcase %}
                                    <div class="col-sm">
                                        <img style="width: 70%;width: 70%" src="/color_showcase/{{ showcase }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        </br>
                        <div class="alert alert-success" role="alert">
                            <p>
                                {{ color_sum_str.0 }}
                            </p>
                            <hr>
                            <p class="mb-0">
                                {{ color_sum_str.1 }}
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-tomb" role="tabpanel" aria-labelledby="v-pills-tomb-tab"
                         style="background-color: white;
                        border: 1px solid transparent;
                        border-top-left-radius: 1.25rem;
                        border-top-right-radius: 1.25rem;
                        border-bottom-left-radius: 1.25rem;
                        border-bottom-right-radius: 1.25rem;">
                        <div style="margin-left: 20px;margin-top: 20px;margin-bottom: 20px;margin-right: 20px">
                            <h1 style="font-family: 楷体; font-size: 100px; color: #5f3f3f; text-align: center">墓穴分析</h1>
                            <div class="container" style="margin-top: 20px">
                                <div class="row" style="margin-top: 20px">
                                    <div class="col-sm" style="margin-top: 20px">
                                        <img src="/tomb/{{ tomb_list.1 }}.jpg" alt="..." class="img-thumbnail">
                                    </div>

                                    <div class="col-lg" >
                                        <div class="col-sm">
                                            <h1>{{ tomb_name }}</h1>
                                        </div>
                                        <div class="col-sm" style="margin-top: 20px">
                                            <p><br>
                                                {{ tomb_content }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-dynasty" role="tabpanel" aria-labelledby="v-pills-dynasty-tab"
                         style="background-color: white;
                        border: 1px solid transparent;
                        border-top-left-radius: 1.25rem;
                        border-top-right-radius: 1.25rem;
                        border-bottom-left-radius: 1.25rem;
                        border-bottom-right-radius: 1.25rem;">
                        <div style="margin-left: 20px;margin-top: 20px;margin-bottom: 20px;margin-right: 20px">
                            <h1 style="font-family: 楷体; font-size: 100px; color: #5f3f3f; text-align: center">朝代分析</h1>
                            <div class="container" style="margin-top: 20px">
                                <div class="row" style="margin-top: 20px">
                                    <div class="col-sm" style="margin-top: 20px">
                                        <img src="/dynasty/{{ report.class_dynasty }}.png" alt="..." class="img-thumbnail">
                                    </div>

                                    <div class="col-lg">
                                        <div class="col-sm">
                                            <h1>{{ dynasty_name }}</h1>
                                        </div>
                                        <div class="col-sm" style="margin-top: 20px">
                                            <p>
                                                {{ dynasty_content }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-feature" role="tabpanel" aria-labelledby="v-pills-feature-tab"
                         style="background-color: white;
                        border: 1px solid transparent;
                        border-top-left-radius: 1.25rem;
                        border-top-right-radius: 1.25rem;
                        border-bottom-left-radius: 1.25rem;
                        border-bottom-right-radius: 1.25rem;">
                        <div style="margin-left: 20px;margin-top: 20px;margin-bottom: 20px;margin-right: 20px">
                            <h1 style="font-family: 楷体; font-size: 100px; color: #5f3f3f; text-align: center">特征分析</h1>
                            <div class="container" style="margin-top: 20px">
                                <div class="row">
                                    <div class="col-sm">
                                        <img src="/upload/{{ report.class_id }}.png" alt="..." class="img-thumbnail">
                                    </div>

                                    <div class="col-lg">
                                        {% for f in feature_list %}
                                            <div class="col-sm">
                                                <img src="/localized/{{ f }}" alt="..." class="img-thumbnail">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <table class="table" style="margin-top: 20px">
                                <thead>
                                <tr>
                                    <th scope="col">综述</th>
                                    <th scope="col">艺术特征</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>{{ feature_content.1 }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>{{ feature_content.2 }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>