<!DOCTYPE html>
<div lang="en">
    <head>
        <meta charset="UTF-8">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'classification/css/bootstrap2.css' %}">
        <link href="{% static 'classification/css/component.css' %}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            function displayColor(eleid, style) {
                var c = document.getElementById(eleid);
                var ctx = c.getContext("2d");
                ctx.fillStyle = style;
                ctx.fillRect(0, 0, 100, 100);
            }
        </script>

        <title>鉴定报告</title>
    </head>
    <body style="background-image: url('/bk_test.jpg');background-size: cover;">
    <nav class="menu menu--prospero" style="height: 20px">
        <ul class="menu__list">
            {% if request.session.is_login %}
                <li class="menu__item"><a href="/" class="menu__link">主页</a></li>
                <li class="menu__item menu__item--current"><a href="/classification/" class="menu__link">辅助鉴定</a></li>
                <li class="menu__item"><a href="/workshop/" class="menu__link">三彩坊</a></li>
                <li class="menu__item"><a href="/shop/" class="menu__link">商城</a></li>
                <li class="menu__item"><a href="/auction/" class="menu__link">拍卖</a></li>
                <li class="menu__item"><a href="#" class="menu__link" style="color:black;">当前在线：{{ request.session.user_name }}</a></li>
                <li class="menu__item"><a href="/classification/logout/" class="menu__link" style="color:blue">登出</a></li>
            {% else %}
                <li class="menu__item"><a href="/" class="menu__link">主页</a></li>
                <li class="menu__item menu__item--current"><a href="/classification/" class="menu__link">辅助鉴定</a></li>
                <li class="menu__item"><a href="/workshop/" class="menu__link">三彩坊</a></li>
                <li class="menu__item"><a href="/shop/" class="menu__link">商城</a></li>
                <li class="menu__item"><a href="/auction/" class="menu__link">拍卖</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="mx-auto" style="width: 75%;">
        <h1 style=" text-align: center;
            margin: auto;
            padding:20px;
            font-weight: bold;
            font-size: 80px;
            display: block;
            width: 800px;
            height: 100px;
            color: #8a6d3b;
            text-shadow: 1px 1px black,2px 2px black,
                 3px 3px black,4px 4px black,
                 5px 5px black,6px 6px black,
                 7px 7px black,8px 8px black;">鉴定报告</h1>
    </div>
    <div class="mx-auto" style="width: 75%;margin-top: 100px " >

        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-overview-tab" data-toggle="pill" href="#v-pills-overview" role="tab" aria-controls="v-pills-overview" aria-selected="true" style="
                  -webkit-border-radius: 0;
                          border-radius: 0;
                  margin-bottom: 5px;
                  font-weight: bold;
                  color: #333;
                  border: 3px solid white;
                  border-top-left-radius: 0.5rem;
                  border-top-right-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                  border-bottom-right-radius: 0.5rem;">报告综述</a>
                    <a class="nav-link" id="v-pills-color-tab" data-toggle="pill" href="#v-pills-color" role="tab" aria-controls="v-pills-color" aria-selected="false"  style="
                  -webkit-border-radius: 0;
                          border-radius: 0;
                  margin-bottom: 5px;
                  font-weight: bold;
                  color: #333;
                  border: 3px solid white;
                  border-top-left-radius: 0.5rem;
                  border-top-right-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                  border-bottom-right-radius: 0.5rem;">颜色分析</a>
                    <a class="nav-link" id="v-pills-tomb-tab" data-toggle="pill" href="#v-pills-tomb" role="tab" aria-controls="v-pills-tomb" aria-selected="false"  style="
                  -webkit-border-radius: 0;
                          border-radius: 0;
                  margin-bottom: 5px;
                  font-weight: bold;
                  color: #333;
                  border: 3px solid white;
                  border-top-left-radius: 0.5rem;
                  border-top-right-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                  border-bottom-right-radius: 0.5rem;">墓穴分析</a>
                    <a class="nav-link" id="v-pills-dynasty-tab" data-toggle="pill" href="#v-pills-dynasty" role="tab" aria-controls="v-pills-dynasty" aria-selected="false"  style="
                  -webkit-border-radius: 0;
                          border-radius: 0;
                  margin-bottom: 5px;
                  font-weight: bold;
                  color: #333;
                  border: 3px solid white;
                  border-top-left-radius: 0.5rem;
                  border-top-right-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                  border-bottom-right-radius: 0.5rem;">朝代分析</a>
                    <a class="nav-link" id="v-pills-feature-tab" data-toggle="pill" href="#v-pills-feature" role="tab" aria-controls="v-pills-feature" aria-selected="false"  style="
                  -webkit-border-radius: 0;
                          border-radius: 0;
                  margin-bottom: 5px;
                  font-weight: bold;
                  color: #333;
                  border: 3px solid white;
                  border-top-left-radius: 0.5rem;
                  border-top-right-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                  border-bottom-right-radius: 0.5rem;">特征分析</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-overview" role="tabpanel" aria-labelledby="v-pills-overview-tab"
                         style="background-color: white;
                        border: 1px solid transparent;
                        border-top-left-radius: 1.25rem;
                        border-top-right-radius: 1.25rem;
                        border-bottom-left-radius: 1.25rem;
                        border-bottom-right-radius: 1.25rem;">
                        <div style="margin-left: 20px;margin-top: 20px;margin-bottom: 20px;margin-right: 20px">
                            <h1 style="font-family: 楷体; font-size: 100px; color: #5f3f3f; text-align: center">{{ antique_name }}</h1>
                            <div class="container"  style="margin-top: 20px; text-align: center">
                                <img src="/upload/{{ report.class_id }}.png" class="rounded img-thumbnail" >
                            </div>
                            <table class="table table-hover" style="margin-top: 20px">
                                <thead>
                                <tr>
                                    <th scope="col">颜色得分</th>
                                    <th scope="col">墓穴相似度</th>
                                    <th scope="col">朝代匹配度</th>
                                    <th scope="col">特征匹配度</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">{{report_color_list.0}}</th>
                                    <td>{{ tomb_name }}</td>
                                    <td>盛唐</td>
                                    <td>裂纹 花式</td>
                                </tr>
                                </tbody>
                            </table>
                            <h2 style="margin-top: 20px;text-align: center">您的古玩最终得分为：95</h2>
                            <h2 style="margin-top: 20px;text-align: center">点击左侧栏目查看详细信息</h2>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-color" role="tabpanel" aria-labelledby="v-pills-color-tab"
                         style="background-color: white;
                        border: 1px solid transparent;
                        border-top-left-radius: 1.25rem;
                        border-top-right-radius: 1.25rem;
                        border-bottom-left-radius: 1.25rem;
                        border-bottom-right-radius: 1.25rem;">
                        <div style="margin-left: 20px;margin-top: 20px;margin-bottom: 20px;margin-right: 20px">
                            <h1 style="font-family: 楷体; font-size: 100px; color: #5f3f3f; text-align: center">色彩分析</h1>

                            <h1 style="text-align: center">以下是您的文玩主色</h1>
                            <div style="margin-top: 20px; text-align: center">
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item">
                                        <div class="card" style="width: 10rem;">
                                            <canvas id="myCanvas" width="100" height="100" >
                                                <script> displayColor("myCanvas","{{report_color_list.1}}")</script>
                                            </canvas>
                                            <div class="card-body">
                                                <p class="card-text">{{report_color_list.1}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="card" style="width: 10rem;">
                                            <canvas id="myCanvas2" width="100" height="100" >
                                                <script> displayColor("myCanvas2","{{report_color_list.2}}")</script>
                                            </canvas>
                                            <div class="card-body">
                                                <p class="card-text">{{report_color_list.2}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="card" style="width: 10rem;">
                                            <canvas id="myCanvas3" width="100" height="100" >
                                                <script> displayColor("myCanvas3","{{report_color_list.3}}")</script>
                                            </canvas>
                                            <div class="card-body">
                                                <p class="card-text">{{report_color_list.3}}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <h1 style="margin-top: 20px; text-align: center">以下与您文玩匹配的唐三彩标准色块</h1>

                            <div style="margin-top: 20px">
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item">
                                        <div class="card" style="width: 10rem;">
                                            <canvas id="standardColor1" width="100" height="100" >
                                                <script> displayColor("standardColor1","#FF0000")</script>
                                            </canvas>
                                            <div class="card-body">
                                                <p class="card-text">唐三彩的釉色除了常用的赫、绿、白以外，还有蓝、紫、黑，在当时视蓝釉为贵，故有“蓝三彩”之说</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="card" style="width: 10rem;">
                                            <canvas id="standardColor2" width="100" height="100" >
                                                <script> displayColor("standardColor2","#343ed3")</script>
                                            </canvas>
                                            <div class="card-body">
                                                <p class="card-text">三彩釉色的主要成分是铅，为得到不同的色彩还增加了猛、钻、硅酸铜、氧化铁等金属成分。</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="card" style="width: 10rem;">
                                            <canvas id="standardColor3" width="100" height="100" >
                                                <script> displayColor("standardColor3","#343ED3")</script>
                                            </canvas>
                                            <div class="card-body">
                                                <p class="card-text">在千度左右的烧烤下，玻化窑变，釉色就出现了流窜现象，几种釉色融汇渗化，异彩纷呈。</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <h1>您的颜色相似度为{{report_color_list.0}}</h1>
                    </div>
                    <div class="tab-pane fade" id="v-pills-tomb" role="tabpanel" aria-labelledby="v-pills-tomb-tab"
                         style="background-color: white;
                        border: 1px solid transparent;
                        border-top-left-radius: 1.25rem;
                        border-top-right-radius: 1.25rem;
                        border-bottom-left-radius: 1.25rem;
                        border-bottom-right-radius: 1.25rem;">
                        <div style="margin-left: 20px;margin-top: 20px;margin-bottom: 20px;margin-right: 20px">
                            <h1 style="font-family: 楷体; font-size: 100px; color: #5f3f3f; text-align: center">墓穴分析</h1>
                            <div class="container" style="margin-top: 20px">
                                <div class="row" style="margin-top: 20px">
                                    <div class="col-sm" style="margin-top: 20px">
                                        <img src="/tomb/{{ tomb_list.1 }}.jpg" alt="..." class="img-thumbnail">
                                    </div>

                                    <div class="col-lg" >
                                        <div class="col-sm">
                                           <h1>{{ tomb_name }}</h1>
                                        </div>
                                        <div class="col-sm" style="margin-top: 20px">
                                            <p><br>
                                                    {{ tomb_content }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-dynasty" role="tabpanel" aria-labelledby="v-pills-dynasty-tab"
                         style="background-color: white;
                        border: 1px solid transparent;
                        border-top-left-radius: 1.25rem;
                        border-top-right-radius: 1.25rem;
                        border-bottom-left-radius: 1.25rem;
                        border-bottom-right-radius: 1.25rem;">
                        <div style="margin-left: 20px;margin-top: 20px;margin-bottom: 20px;margin-right: 20px">
                            <h1 style="margin-top: 20px">朝代分析正文</h1>
                            <div class="container" style="margin-top: 20px">
                                <div class="row" style="margin-top: 20px">
                                    <div class="col-sm" style="margin-top: 20px">
                                        <img src="/shengtang.png" alt="..." class="img-thumbnail">
                                    </div>

                                    <div class="col-lg">
                                        <div class="col-sm">
                                            <img src="/盛唐.png" alt="..." class="img-thumbnail">
                                        </div>
                                        <div class="col-sm" style="margin-top: 20px">
                                            <p>唐代贞观之治以后，国力强盛、百业俱兴，同时也导致了一些高官生活的腐化，于是厚葬之风日盛。
                                                唐三彩当时也是作为一种冥器，曾经被列入官府的明文规定，一品、二品、三品、四品，就是说可以允许他随葬多少件，
                                                但是实际上作为这些达官显贵们，并不满足于明文的规定，反而他们往往比官府规定要增加很多的倍数，
                                                去做这种厚葬。这也就是唐三彩当时能够迅速在中原地区发展和兴起的一个主要原因之一。
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-feature" role="tabpanel" aria-labelledby="v-pills-feature-tab"
                         style="background-color: white;
                        border: 1px solid transparent;
                        border-top-left-radius: 1.25rem;
                        border-top-right-radius: 1.25rem;
                        border-bottom-left-radius: 1.25rem;
                        border-bottom-right-radius: 1.25rem;">
                        <div style="margin-left: 20px;margin-top: 20px;margin-bottom: 20px;margin-right: 20px">
                            <h1 style="margin-top: 20px">特征分析</h1>
                            <div class="container" style="margin-top: 20px">
                                <div class="row">
                                    <div class="col-sm">
                                        <img src="/example/feature_example0.jpg" alt="..." class="img-thumbnail">
                                    </div>

                                    <div class="col-lg">
                                        <div class="col-sm">
                                            <img src="/example/feature_example1.jpg" alt="..." class="img-thumbnail">
                                        </div>
                                        <div class="col-sm">
                                            <img src="/example/feature_example2.jpg" alt="..." class="img-thumbnail">
                                        </div>
                                        <div class="col-sm">
                                            <img src="/example/feature_example3.jpg" alt="..." class="img-thumbnail">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table class="table" style="margin-top: 20px">
                                <thead>
                                <tr>
                                    <th scope="col">特征名称</th>
                                    <th scope="col">特征类别</th>
                                    <th scope="col">特征稀有度</th>
                                    <th scope="col">特征吻合度</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>