<!doctype html>
<html lang="en">
<head>
    {% load static %}
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>拍卖行</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link href="{% static 'auction/css/jumbotron.css' %}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'auction/css/bootstrap-grid.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'auction/css/carousel.css' %}" rel="stylesheet">
    <link href="{% static 'classification/css/component.css' %}" rel="stylesheet">
</head>

<body>
<div style="background-image: url('/bk_test.jpg'); background-size: cover">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top"
             style="background-image: url('/bk_test.jpg');background-size: cover;">
            <a class="navbar-brand" href="#" style="color: #533f03">三彩知因</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <nav class="menu menu--prospero" style="height: 20px">
					<ul class="menu__list">
                    {% if request.session.is_login %}
						<li class="menu__item"><a href="/" class="menu__link">主页</a></li>
						<li class="menu__item"><a href="/classification/" class="menu__link">辅助鉴定</a></li>
						<li class="menu__item"><a href="/workshop/" class="menu__link">三彩坊</a></li>
						<li class="menu__item"><a href="/shop/" class="menu__link">商城</a></li>
						<li class="menu__item menu__item--current"><a href="/auction/" class="menu__link">拍卖</a></li>
                        <li class="menu__item"><a href="#" class="menu__link" style="color:black;">当前在线：{{ request.session.user_name }}</a></li>
                        <li class="menu__item"><a href="/login/logout/" class="menu__link" style="color:blue">登出</a></li>
                    {% else %}
						<li class="menu__item"><a href="/" class="menu__link">主页</a></li>
						<li class="menu__item"><a href="/classification/" class="menu__link">辅助鉴定</a></li>
						<li class="menu__item"><a href="/workshop/" class="menu__link">三彩坊</a></li>
						<li class="menu__item"><a href="/shop/" class="menu__link">商城</a></li>
						<li class="menu__item menu__item--current"><a href="/auction/" class="menu__link">拍卖</a></li>
                    {% endif %}
					</ul>
				</nav>
        </nav>
    </header>

    <main role="main">
        <br/>
        <br/>
        <br/>

        <div class="container marketing">

            <div class="row">
                {% for foo in comm_list %}
                     <div class="col-lg-4">
                        <img class="rounded-circle" src="{{ foo.comm_img }}" alt="Generic placeholder image" width="140" height="140">
                        <h2>{{ foo.comm_name }}</h2>
                        <p>目前最高竞拍价：￥{{ foo.comm_startprice  }}</p>
                         <form action="auction_details/"  method="post" enctype="multipart/form-data">
                             {% csrf_token %}
                             <input hidden type="text" name = "id" value="{{ foo.comm_id }}">
                             <p><input class="btn btn-secondary"  type="submit"  name="Submit" value="参与竞拍"/></p>
                         </form>
                    </div><!-- /.col-lg-4 -->
                {% endfor %}
        <!--
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{{ src0 }}" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>{{ name0 }}</h2>
                    <p>目前最高竞拍价：￥{{ price0  }}</p>


                    <p><a class="btn btn-secondary" href="auction_details/" role="button">参与竞拍&raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{{ src1 }}" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>{{ name1 }}</h2>
                    <p>目前最高竞拍价：￥{{ price1  }}</p>
                    <p><a class="btn btn-secondary" href="auction_details/" role="button">参与竞拍&raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{{ src2 }}" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>{{ name2 }}</h2>
                    <p>目前最高竞拍价：￥{{ price2  }}</p>
                    <p><a class="btn btn-secondary" href="auction_details/" role="button">参与竞拍&raquo;</a></p>
                </div>

                <br/>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{{ src3 }}" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>{{ name3 }}</h2>
                    <p>目前最高竞拍价：￥{{ price3  }}</p>
                    <p><a class="btn btn-secondary" href="auction_details/" role="button">参与竞拍&raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{{ src4 }}" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>{{ name4 }}</h2>
                    <p>目前最高竞拍价：￥{{ price4  }}</p>
                    <p><a class="btn btn-secondary" href="auction_details/" role="button">参与竞拍&raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{{ src5 }}" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>{{ name5 }}</h2>
                    <p>目前最高竞拍价：￥{{ price5  }}</p>
                    <p><a class="btn btn-secondary" href="auction_details/" role="button">参与竞拍&raquo;</a></p>
                </div>

                <br/>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{{ src6 }}" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>{{ name6 }}</h2>
                    <p>目前最高竞拍价：￥{{ price6  }}</p>
                    <p><a class="btn btn-secondary" href="auction_details/" role="button">参与竞拍&raquo;</a></p>
                </div>
                <div class="col-lg-4">
                   <img class="rounded-circle" src="{{ src7 }}" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>{{ name7 }}</h2>
                    <p>目前最高竞拍价：￥{{ price7  }}</p>
                    <p><a class="btn btn-secondary" href="auction_details/" role="button">参与竞拍&raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{{ src8 }}" alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>{{ name8 }}</h2>
                    <p>目前最高竞拍价：￥{{ price8  }}</p>
                    <p><a class="btn btn-secondary" href="auction_details/" role="button">参与竞拍&raquo;</a></p>
                </div>
            -->
            </div><!-- /.row -->

    </main>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="{% static 'auction/js/vendor/popper.min.js' %></script>
    <script src="{% static 'auction/js/bootstrap.bundle.min.js' %}></script>
<script src="{% static 'auction/js/vendor/holder.min.js' %}></script>

  </body>
</html>
