<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>个人主页</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="{% static 'expert/css/bootstrap-grid.min.css' %}" rel="stylesheet">
    <link href="{% static 'expert/css/album.css' %}" rel="stylesheet">
    <link href="{% static 'expert/css/carousel.css' %}" rel="stylesheet">
    <link href="{% static 'classification/css/component.css' %}" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-image: url('/bk_test.jpg');background-size: cover;">
        <a class="navbar-brand" href="#" style="color: #533f03">三彩知因</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                <nav class="menu menu--prospero" style="height: 20px">
					<ul class="menu__list">
                    {% if request.session.is_login %}
						<li class="menu__item"><a href="/" class="menu__link">主页</a></li>
						<li class="menu__item"><a href="/classification/" class="menu__link">辅助鉴定</a></li>
						<li class="menu__item menu__item--current"><a href="/workshop/" class="menu__link">三彩坊</a></li>
						<li class="menu__item"><a href="/shop/" class="menu__link">商城</a></li>
						<li class="menu__item"><a href="/auction/" class="menu__link">拍卖</a></li>
                        <li class="menu__item"><a href="#" class="menu__link" style="color:black;">当前在线：{{ request.session.user_name }}</a></li>
                        <li class="menu__item"><a href="/classification/logout/" class="menu__link" style="color:blue">登出</a></li>
                    {% else %}
						<li class="menu__item"><a href="/" class="menu__link">主页</a></li>
						<li class="menu__item"><a href="/classification/" class="menu__link">辅助鉴定</a></li>
						<li class="menu__item menu__item--current"><a href="/workshop/" class="menu__link">三彩坊</a></li>
						<li class="menu__item"><a href="/shop/" class="menu__link">商城</a></li>
						<li class="menu__item"><a href="/auction/" class="menu__link">拍卖</a></li>
                    {% endif %}
					</ul>
				</nav>
    </nav>
</header>

<main role="main" style="margin-top: 20px">
    <section class="jumbotron text-center" style="background-image: url('/bk_test.jpg'); background-size: cover;">
        <div class="row featurette" style="margin-top: -4%;margin-bottom: -4%">
            <div class="col-md-7 order-md-2" style="margin-top: -6%; margin-left: -10%;">
                <div class="container">
                    <h2 class="featurette-heading">{{ user.user_email }}</h2>
                    <br />
                    {% if user.user_identity == 0 %}
                        <h4>目前状态 ：普通用户</h4>
                    {% elif user.user_identity == 1 %}
                        <h4>目前状态 ：专家待审</h4>
                    {% else %}
                        <h4>目前状态 ：专家</h4>
                    {% endif %}
                    <p>
                        <a href="#" class="btn btn-primary my-2">修改个人信息</a>
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-primary my-2 collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        点击申请成为专家
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="container">
                                        <form action="apply/" method="post">
                                            {% csrf_token %}
                                           <textarea class="form-control" aria-label="With textarea" name="applyment"></textarea>
                                            <button type="submit" class="btn btn-primary">提交</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
            <div class="col-md-5 order-md-1" style="margin-left:2.5%" >
                <img class="featurette-image img-fluid mx-auto" style="max-width: 60%" src="/avatar1.png" alt="Generic placeholder image">
            </div>
    </section>

    <div class="album py-5 bg-light" style="background-image: url('/bk_test.jpg'); background-size: cover">
        <h1 class="jumbotron-heading" style="text-align: center">鉴定记录</h1>
        <br />
        <div class="container">
            <div class="row">
                {% for report in reports %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="/upload/{{ report.class_id }}.png" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">{{ report.class_type }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group" style="margin-left: 50%">
                                        <form action="/classification/report/"  method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input hidden type="text" name = "report_id" value="{{ report.class_id }}">
                                            <p><input class="btn btn-sm btn-outline-secondary"  type="submit"  name="Submit" value="详细信息"/></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="album py-5 bg-light" style="background-image: url('/bk_test.jpg'); background-size: cover">
        <h1 class="jumbotron-heading" style="text-align: center">商品收藏</h1>
        <br />
        <div class="container">
            <div class="row">
                {% for comm in Commodity_collection_display %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="{{ comm.comm_img }}" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">{{ comm.comm_info }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <form action="/expert/comment/"  method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input hidden type="text" name = "id" value="{{ comm.comm_id }}">
                                        <p><input class="btn btn-sm btn-outline-secondary"  type="submit"  name="Submit" value="详细信息"/></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="btn-group" style="margin-left: 50%">
            <form action="/workshop/allcomment/"  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input hidden type="text" name = "user_id" value="{{ user.user_id }}">
                <p><input class="btn btn-primary my-2"  type="submit"  name="Submit" value="全部"/></p>
            </form>
        </div>
    </div>

    <div class="album py-5 bg-light" style="background-image: url('/bk_test.jpg'); background-size: cover">
        <h1 class="jumbotron-heading" style="text-align: center">专家收藏</h1>
        <br />
        <div class="container">
            <div class="row">
                {% for expert in Expert_collection_display %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body text-center">
                                <img class="rounded-circle" src="{{ expert.expert_avatar }}" alt="Generic placeholder image" width="140" height="140">
                                <h2>{{ expert.expert_name }}</h2>
                                <p class="card-text">{{ expert.expert_info }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <form action="/expert/detail/"  method="post" enctype="multipart/form-data">
                                        <div class="btn-group">
                                            {% csrf_token %}
                                            <input hidden type="text" name = "expert_id" value="{{ expert.expert_id }}">
                                            <p><input class="btn btn-sm btn-outline-secondary"  type="submit"  name="Submit" value="详细信息&raquo;"/></p>
                                        </div>
                                    </form>
                                    <div class="btn-group">
                                        <p><a class="btn btn-sm btn-outline-secondary" href="/expert/comment_detail/" role="button">咨询专家</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="btn-group" style="margin-left: 50%">
            <form action="/workshop/allexpert/"  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input hidden type="text" name = "user_id" value="{{ user.user_id }}">
                <p><input class="btn btn-primary my-2"  type="submit"  name="Submit" value="全部"/></p>
            </form>
        </div>
    </div>
</main>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="{% static 'expert/js/vendor/popper.min.js' %}"></script>
<script src="{% static 'expert/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'expert/js/vendor/holder.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="{% static 'expert/js/vendor/popper.min.js' %}"></script>
<script src="{% static 'expert/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'expert/js/vendor/holder.min.js'%}"></script>
</html>
