<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>专家申请管理</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    {#    <script src="/static/myadmin/js/expertapply.js"></script>#}
    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <link href="/static/myadmin/css/cover.css" rel="stylesheet">
    <link href="/static/myadmin/css/flipcard.css" rel="stylesheet">
</head>

<body class="text-center" style="background-image: url('/background/myadmin.png');background-size: cover;">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" style="color: black" href="/myadmin/">主页</a>
                <a class="nav-link active" style="color: black"
                   href="/myadmin/expertapply/">专家申请管理</a>
                <a class="nav-link" style="color: black"
                   href="/myadmin/mallmanagement/">商城管理</a>
                <a class="nav-link " style="color: black"
                   href="/myadmin/auctionmanagement/">拍卖管理</a>
                <a class="nav-link" style="color: black"
                   href="/myadmin/usermanagement/">用户管理</a>
            </nav>

        </div>
    </header>

    <div class="container text-center" style="margin-top: 50px">
        <div class="row ">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>待审核专家列表</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <script>
            window.onload = function () {
                var x = document.getElementsByClassName("flip-card");
                for (var i = 0; i < x.length; i++) {
                    x[i].setAttribute("onclick", "window.location = 'http://127.0.0.1:8000/myadmin/expert_detail/'");
                }
            }
        </script>
        <div class="row">
            {% for i in expertList %}
            <div class="card" style="width: 18rem;">
                {% if i.user_avatar == None %}
                <img src="/avatar/avatar_default.jpg" class="card-img-top" alt="..." size="50%">
                {% else %}
                <img src="{{ i.user_avatar }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    {% if i.user_name != None %}
                    <h5 class="card-title">专家姓名： {{ i.user_name }}</h5>
                    {% else %}
                    <h5 class="card-title">专家ID： {{ i.user_id }}</h5>
                    {% endif %}
                    {% if i.user_name != None %}
                    <p class="card-text">专家信息：</p>
                    {% else %}
                    <p class="card-text"></p>
                    {% endif %}
                    <form action="../checkapply/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input class="btn btn-primary" name="foo" type="submit" value="pass">通过</input>
                        <input hidden name="id" value="{{ i.user_id }}"/>
                        <input hidden name="operation" value="pass"/>
                    </form>
                    <form action="../checkapply/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input class="btn btn-primary" name="fooo" type="submit" value="reject">拒绝</input>
                        <input hidden name="id" value="{{ i.user_id }}"/>
                        <input hidden name="operation" value="reject"/>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/static/personal/js/vendor/popper.min.js"></script>
<script src="/static/personal/js/bootstrap.min.js"></script>

