<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>专家申请管理</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->


    <!-- Custom styles for this template -->
    <link href="/static/personal/css/cover.css" rel="stylesheet">
    <link href="/static/myadmin/css/flipcard.css" rel="stylesheet">
</head>

<body class="text-center" style="background-image: url('/2.png');background-size: cover;background-attachment: fixed;">


<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">


            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link " style="color: black" href="#">主页</a>
                <a class="nav-link active" style="color: black" href="expertapply/">专家申请管理</a>
                <a class="nav-link" style="color: black" href="mallmanagement/">商城管理</a>
                <a class="nav-link" style="color: black" href="auctionmanagement/">拍卖管理</a>
                <a class="nav-link" style="color: black" href="usermanagement/">用户管理</a>
            </nav>

        </div>
    </header>









<div class="container">
    <div class="row">
        <div class="col-md-*">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/avatar1.jpg" alt="Avatar" style="width: 100%;height: 100%;">
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1>
      <p>Architect & Engineer</p>
      <p>We love that guy</p>
    </div>
  </div>
</div>
        </div>
        <div class="col-md-*">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/avatar1.jpg" alt="Avatar" style="width: 100%;
    height: 100%;">
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1>
      <p>Architect & Engineer</p>
      <p>We love that guy</p>
    </div>
  </div>
</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-*">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/avatar1.jpg" alt="Avatar" style="width: 100%;
    height: 100%;">
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1>
      <p>Architect & Engineer</p>
      <p>We love that guy</p>
    </div>
  </div>
</div>
        </div>
        <div class="col-md-*">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="/avatar1.jpg" alt="Avatar" style="width: 100%;
    height: 100%;">
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1>
      <p>Architect & Engineer</p>
      <p>We love that guy</p>
    </div>
  </div>
</div>
        </div>
    </div>
</div>


    <footer class="mastfoot mt-auto">
        <div class="inner">

        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/static/personal/js/vendor/popper.min.js"></script>
<script src="/static/personal/js/bootstrap.min.js"></script>
</body>
</html>
